/* Styling for Projects container. */
.eh__projects {
  display: flex;
  flex-direction: column;
}

/* Container for cards and prev/next buttons. */
.eh__projects-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eh__projects-cards img {
  cursor: pointer;

  transition: transform .5s ease-in-out;
}

/* Prev button. */
.eh__projects-cards-prev {
  margin-right: 2rem;
}

/* Next button. */
.eh__projects-cards-next {
  margin-left: 2rem;
}

/* Hides nav buttons if there are only 2 projects to showcase. */
.hide-btn {
  display: none;
}

/* Container for cards-only. */
.eh__projects-cards-display {
  display: flex;
  gap: 2rem;
}

.eh__projects-cards_card {
  flex-basis: 50%;
  flex-grow: 1;
}

.eh__projects-btn {
  text-align: center;

  margin-top: 3rem;
}

/* Styling for page button. */
.eh__projects-btn button {
  width: 10.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50px;
  color: #FFF;
  background: linear-gradient(var(--color-01), var(--color-02));
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform .5s ease-in-out;
}

@media screen and (min-width: 1280px) {
  /* Hover effects for devices that can hover with a mouse/stylus. */
  @media (hover: hover) and (pointer: fine) {
    .eh__projects-cards img:hover {
      transform: scale(1.4);
    }
    .eh__projects-btn button:hover {
      transform: scale(1.1);
    }
  }
}

/* Most of the media queries for screen-size will be handled by the WID and individual Project components. */
@media screen and (max-width: 1280px) {
  .eh__projects-cards {
    flex-direction: column;
  }
  .eh__projects-cards-display {
    flex-direction: column;
  }
  .eh__projects-cards-prev,
  .eh__projects-cards-next {
    transform: rotate(90deg);
  }
  .eh__projects-cards-prev img {
    margin-bottom: 1rem;
  }
  .eh__projects-cards-next img {
    margin-top: 1rem;
  }
  .eh__projects-cards-nav-btn {
    display: flex;
    
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .eh__projects-btn button {
    width: 8.5rem;
    height: 2.5rem;
    font-size: 18px;
  }
}