/* Container for What I Do */
.eh__wid {
  display: flex;
  justify-content: space-between;
  position: relative;
  /* Setting min-height so absolutely-positioned items don't overlap other components' content. */
  min-height: 50rem;

  margin-bottom: 3rem;
}

/* Container for default page. */
.eh__wid-before {
  display: flex;
  justify-content: space-between;
  position: absolute;
  /* Using 4 and 6rem to match right padding for page content. */
  top: 4rem;
  right: 6rem;
  /* Sets space between image and text. */
  width: 93%;
  z-index: 1;
  transition: all 1s ease-in-out;
}

/* Class for fading default page out. Swapping indices so users can interact with Projects page. */
.eh__wid-before.transition-out {
  opacity: 0;
  z-index: 0;
}

/* Container for Projects page. */
.eh__wid-after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 0;
  transition: all 1s ease-in-out;
}

/* Class for fading Projects page in. Swapping indices so users can interact with Projects page. */
.eh__wid-after.transition-in {
  opacity: 1;
  z-index: 1;
}

/* Sizing for text and image containers. */
.eh__wid-image,
.eh__wid-text {
  max-width: 40rem;
  max-height: 40rem;
  transition: all .5s ease-in-out;
}

/* Using flex to organize the bar and text content. */
.eh__wid-text {
  display: flex;

  margin-left: 3rem;
}

/* Hover effects for devices that can hover with a mouse/stylus. */
@media (hover: hover) and (pointer: fine) {
  .eh__wid:hover {
    .eh__wid-text {
      transform: scale(1.05);
    }
    .eh__wid-text__bar {
      height: 100%;
    }
    .eh__wid-text__content h1 {
      transform: scale(1.05);
    }
    .eh__wid-text__content h2 {
      margin-top: 8rem;
    }
    .eh__wid-text__content button {
      cursor: pointer;
    }
    .eh__wid-text__content p {
      opacity: 1;
    }
    .eh__wid-btn {
      opacity: 1;
    }
    .eh__wid-image {
      opacity: 1;
    }
  }
  .eh__wid-text__content button:hover {
    --color-1: #9191E9;
    --color-2: #2D898B;
    transform: scale(1.1);
  }
}

/* Colored bar. */
.eh__wid-text__bar {
  background: var(--gradient-bar);
  min-width: 1.875rem;
  height: 35%;
  transition: all .5s ease-in-out;
}

/* Small margin so text content doesn't overlap image on smaller resolution monitors. */
.eh__wid-text__content {
  margin-right: 2rem;
}

.eh__wid-text__content h1, h2 {
  text-transform: uppercase;
  text-align: right;
  transition: all .5s ease-in-out;
}

.eh__wid-text__content h1 {
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 5px;
  
  margin-bottom: 1rem;
}

.eh__wid-text__content h2 {
  color: var(--color-subtitle);
  font-size: 28px;
  
  margin-top: -19rem;
}

.eh__wid-text__content p {
  opacity: 0;
  font-size: 25px;
  line-height: 33px;
  text-align: right;
  transition: all .5s ease-in-out;
}

/* Centers My Work button. */
.eh__wid-btn {
  opacity: 0;
  text-align: center;
  transition: all .5s ease-in-out;
  
  margin: 2rem 0 0 10rem;
}

/* Color props defined to help smoothly transition gradient colors. */
@property --color-1 {
  syntax: '<color>';
  initial-value: #2D898B;
  inherits: false;
}

@property --color-2 {
  syntax: '<color>';
  initial-value: #9191E9;
  inherits: false;
}

/* Styling for button. */
.eh__wid-text__content button {
  width: 10.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50px;
  color: #FFF;
  background: linear-gradient(var(--color-1), var(--color-2));
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  transition:
    --color-1 .5s ease-in-out,
    --color-2 .5s ease-in-out,
    transform .5s ease-in-out;
}

.eh__wid-image {
  opacity: 0;
}

.eh__wid-image img {
  width: 130%;

  margin-top: -5.5rem;
}

@media screen and (max-width: 1367px) {
  /* Adjusting bar height to account for margin adjustments. */
  .eh__wid-text__bar {
    height: 38%;
  }
  @media (hover: hover) and (pointer: fine) {
    .eh__wid:hover {
      .eh__wid-text__bar {
        height: 108%;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  /* Adjusting height of parent container to prevent overlapping of other components. */
  .eh__wid {
    min-height: 95rem;
  }
  /* Altering flex direction to stack elements in columns. */
  .eh__wid-before {
    flex-direction: column-reverse;
    width: 83%;
  }
  .eh__wid-image {
    opacity: 1;

    margin-top: 8rem;
  }
  .eh__wid-text {
    align-self: flex-end;

    margin-left: 4rem;
  }
  .eh__wid-text__bar {
    height: 40rem;
  }
  .eh__wid-text__content h2 {
    margin-top: 6rem;
  }
  .eh__wid-text__content p {
    opacity: 1;
  }
  .eh__wid-btn {
    opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .eh__wid-before {
    width: 75%;
  }
}

@media screen and (max-width: 700px) {
  .eh__wid {
    min-height: 67rem;
  }
  .eh__wid.mobile {
    min-height: 92rem;
  }
  .eh__wid-text,
  .eh__wid-image {
    max-width: 25rem;
    max-height: 25rem;
  }
  .eh__wid-image {
    margin-top: 9rem;
  }
  .eh__wid-image img {
    margin-right: 6rem;
  }
  .eh__wid-text {
    margin-left: 1rem;
  }
  .eh__wid-text__content h1 {
    font-size: 50px;
  }
  .eh__wid-text__content h2 {
    font-size: 22px;

    margin-top: 1rem;
  }
  .eh__wid-text__content p {
    font-size: 18px;
    line-height: 23px;
  }
  .eh__wid-text__bar {
    min-width: 1.45rem;
    height: 29rem;
  }
  .eh__wid-btn {
    text-align: right;

    margin: 2rem 0 2rem 0;
  }
  .eh__wid-text__content button {
    width: 8.5rem;
    height: 2.5rem;
    font-size: 18px;
  }
}

/* Slight overlapping occurs between 470 - 480px, using this query to resolve that. */
@media screen and (max-width: 480px) {
  .eh__wid-image {
    margin-top: 11rem;
  }
  .eh__wid-text__bar {
    height: 33rem;
  }
}

@media screen and (max-width: 470px) {
  .eh__wid-before {
    right: 2rem;
  }
  .eh__wid-text,
  .eh__wid-image {
    max-width: 20rem;
    max-height: 20rem;
  }
  .eh__wid-image {
    margin-top: 25rem;
  }
  .eh__wid-text {
    margin-left: auto;
  }
  .eh__wid-text__content h1 {
    font-size: 40px;
  }
  .eh__wid-text__content h2 {
    font-size: 20px;
  }
  .eh__wid-text__content p {
    font-size: 17px;
    line-height: 22px;
  }
  .eh__wid-text__bar {
    height: 33rem;
  }
  .eh__wid-btn {
    margin: 3rem 0 3rem 0;
  }
  .eh__wid-text__content button {
    width: 8rem;
    font-size: 17px;
  }
}

@media screen and (max-width: 360px) {
  .eh__wid {
    min-height: 60rem;
  }
  .eh__wid-text,
  .eh__wid-image {
    max-width: 17rem;
    max-height: 17rem;
  }
  .eh__wid-image {
    margin-top: 24rem;
  }
  .eh__wid-text__content h1 {
    font-size: 30px;
  }
  .eh__wid-text__content h2 {
    font-size: 19px;
  }
  .eh__wid-text__content p {
    font-size: 16px;
  }
  .eh__wid-text__bar {
    height: 35rem;
  }
  .eh__wid-text__content button {
    width: 8rem;
    font-size: 16px;
  }
}