.eh__home {
  display: flex;
  justify-content: space-between;
}

.eh__home-text,
.eh__home-image {
  width: 40rem;
  height: 40rem;
  transition: all .5s ease-in-out;
}

.eh__home-text {
  display: flex;
  margin-right: 3rem;
}

.eh__home-text:hover {
  transform: scale(1.05);

  .eh__home-text__content h1, h2, h3, p {
    margin-left: 2rem;
  }
  .eh__home-text__content h1 {
    transform: scale(1.05);
  };
  .eh__home-text__content p {
    opacity: 1;
  }
  .eh__home-text__content h2 {
    margin-top: 2rem;
  }
}

.eh__home-text__bar {
  background: var(--gradient-bar);
  min-width: 1.875rem;
  height: 100%;
}

.eh__home-text__content {
  margin-left: 2rem;
}

.eh__home-text__content h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 700;
  transition: all .5s ease-in-out;
}

.eh__home-text__content h1 {
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 8px;
}

.eh__home-text__content h2 {
  color: var(--color-subtitle);
  font-size: 28px;

  margin: -18rem 0 3rem 0;
}

.eh__home-text__content h3 {
  color: var(--color-subtitle);
  font-size: 22px;
}

.eh__home-text__content p {
  opacity: 0;
  font-size: 25px;
  line-height: 33px;
  text-align: left;
  transition: all .5s ease-in-out;

  margin-top: .85rem;
}

.eh__home-image {
  position: relative;
}

.eh__home-image img {
  position: absolute;
}

.eh__home-image:hover {
  transform: scale(1.05);

  img:nth-child(1) {
    transform: scale(1.1);
  };
}

.eh__home-image img:nth-child(1) {
  z-index: 2;
  width: 80%;
  clip-path: circle(40%);
  transition: all 1.2s ease-in-out;

  top: -52px;
}

.eh__home-image img:nth-child(2) {
  z-index: 1;
  width: 100%;

  margin-top: 5.2rem;
}

@media screen and (max-width: 1525px) {
  .eh__home-text,
  .eh__home-image {
    width: 35rem;
    height: 35rem;
  }
  .eh__home-text__content h1 {
    font-size: 60px;
  }
  .eh__home-text__content h2 {
    font-size: 25px;

    margin: -14.5rem 0 1rem 0;
  }
  .eh__home-text__content h3 {
    font-size: 22px;
  }
  .eh__home-text__content p {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1236px) {
  .eh__home {
    flex-direction: column;
  }
  .eh__home-image {
    margin-top: 6rem;
    align-self: flex-end;
  }
}

@media screen and (max-width: 850px) {
  .eh__home-image {
    align-self: auto;
  }
}

@media screen and (max-width: 700px) {
  .eh__home-text,
  .eh__home-image {
    width: 25rem;
    height: 25rem;
  }
  .eh__home-image {
    margin-bottom: 5rem;
  }
  .eh__home-text__content h1 {
    font-size: 40px;
  }
  .eh__home-text__content h2 {
    font-size: 22px;

    margin: -16rem 0 1rem 0;
  }
  .eh__home-text__content h3 {
    font-size: 22px;
  }
  .eh__home-text__content p {
    font-size: 17px;
    line-height: 23px;
  }
  .eh__home-text__bar {
    min-width: 1.45rem;
    transition: all .3s ease-in-out;
  }
  .eh__home-text:hover {
    margin-bottom: 8rem;
    .eh__home-text__content h1, h2, h3, p {
      margin-left: 1rem;
    }
    .eh__home-text__bar {
      height: 138%;
    }
  }
}

@media screen and (max-width: 470px) {
  .eh__home-text,
  .eh__home-image {
    width: 20rem;
    height: 20rem;
  }
  .eh__home-text__content h1 {
    font-size: 35px;
  }
  .eh__home-text__content h2 {
    font-size: 20px;

    margin: -16rem 0 1rem 0;
  }
  .eh__home-text__content h3 {
    font-size: 19px;
  }
  .eh__home-text__content p {
    font-size: 16px;
    line-height: 22px;
  }
  .eh__home-text__bar {
    transition: all .3s ease-in-out;
  }
  .eh__home-text:hover {
    margin-bottom: 18rem;
    .eh__home-text__content h1, h2, h3, p {
      margin-left: .5rem;
    }
    .eh__home-text__bar {
      height: 190%;
    }
  }
}

@media screen and (max-width: 360px) {
  .eh__home-text,
  .eh__home-image {
    width: 17rem;
    height: 17rem;
  }
  .eh__home-image {
    margin-bottom: 12rem;
  }
  .eh__home-text__content h1 {
    font-size: 30px;
  }
  .eh__home-text__content h2 {
    font-size: 19px;

    margin: -25rem 0 1rem 0;
  }
  .eh__home-text__content h3 {
    font-size: 17px;
  }
  .eh__home-text__content p {
    font-size: 16px;
    line-height: 22px;
  }
  .eh__home-text:hover {
    margin-bottom: 26rem;
    .eh__home-text__content h1, h2, h3, p {
      margin-left: 0;
    }
    .eh__home-text__bar {
      height: 250%;
    }
  }
}