/* Global Font and Styling Variables */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --font-family: 'Barlow', sans-serif;

  --gradient-text: linear-gradient(180deg, #2D898B 0%, #9191E9 100%);
  --gradient-bar: linear-gradient(180deg, #2D898B 0.88%, #9191E9 100%);
  --gradient-bar-reversed: linear-gradient(180deg, #9191E9 0.88%, #2D898B 100%);
  --gradient-navbar: linear-gradient(90deg, rgba(27, 27, 27, 1) 31%, rgba(45, 137, 139, 1) 50%, rgba(145, 145, 233, 1) 100%);

  --color-bg: #1B1B1B;
  --color-footer: rgba(145, 145, 233, 0.50);
  --color-text: #FFF;
  --color-subtitle: #E6C79C;
}