.container {
  display: flex;
  justify-content: space-between;
}

.fi-1,
.fi-2 {
  width: 40rem;
  height: 40rem;
}

.fi-1 .image {
  width: 130%;
  margin-top: -6rem;
}

.fi-1 img {
  width: 100%;
}

.fi-2 {
  display: flex;
}

.bar {
  background: var(--gradient-bar);
  min-width: 1.875rem;
  height: 100%;
  margin-left: 3.625rem;
}

.text h1, p {
  text-align: right;
}

.text .btn {
  text-align: center;
  margin-left: 12rem;
}

.text h1 {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 10rem;
}

.text p {
  color: #FFF;
  text-align: right;
  font-family: Barlow;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  margin-bottom: 7rem;
}

.text button {
  width: 170px;
  height: 55px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(180deg, #9191E9 0%, #2D898B 100%);
  color: #FFF;
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .container {
    flex-direction: column-reverse;
  }
  .fi-1,
  .fi-2 {
    width: 25rem;
    height: 25rem;
  }
  .fi-1 {
    margin-top: 12rem;
  }
  .text h1 {
    font-size: 70px;
    margin-bottom: 3rem;
  }
  .text p {
    font-size: 20px;
    margin-bottom: 3rem;
  }
  .text button {
    width: 140px;
    height: 35px;
    font-size: 20px;
    font-weight: 500;
  }
  .text .btn {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .fi-1,
  .fi-2 {
    width: 22rem;
    height: 22rem;
  }
  .fi-1 {
    margin-top: 6rem;
  }
  .text h1 {
    font-size: 50px;
    margin-bottom: 1rem;
  }
  .text p {
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  .text button {
    font-size: 18px;
    width: 130px;
    height: 32px;
  }
}

@media screen and (max-width: 550px) {
  .fi-1,
  .fi-2 {
    width: 100%;
    height: 20em;
  }
  .fi-1 {
    margin-top: 7rem;
  }
  .bar {
    margin-left: 2rem;
    min-width: 1.45rem;
  }
  .text h1 {
    font-size: 50px;
    margin-bottom: 1.5rem;
  }
  .text p {
    font-size: 18px;
    margin-bottom: 2.5rem;
  }
  .text .btn {
    margin-left: 7rem;
  }
  .text button {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .fi-1,
  .fi-2 {
    width: 100%;
    height: 15em;
  }
  .fi-1 {
    margin-top: 12rem;
  }
  .bar {
    min-width: 1.3rem;
    height: 320px;
  }
  .text h1 {
    font-size: 46px;
    margin-bottom: 1rem;
  }
  .text p {
    font-size: 16px;
    margin-bottom: 3rem;
  }
  .text .btn {
    margin-left: 3rem;
  }
  .text button {
    font-size: 17px;
  }
}

/* @media screen and (max-width: 360px) {
  .fi-1,
  .fi-2 {
    width: 100%;
    height: 15em;
  }
  .fi-1 {
    margin-top: 12rem;
  }
  .bar {
    margin-left: 2rem;
    min-width: 1.3rem;
    height: 340px;
  }
  .text h1 {
    font-size: 46px;
    margin-bottom: 1rem;
  }
  .text p {
    font-size: 17px;
    margin-bottom: 1.5rem;
  }
  .text .btn {
    margin-left: 3rem;
  }
  .text button {
    font-size: 17px;
  }
} */