.container {
  display: flex;
  flex-direction: column;
}

.card-container {
  /* border: 3px solid lightblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container img {
  /* border: 3px solid lightgreen; */
  cursor: pointer;
  transition: transform .5s ease-in-out;
}

.prev {
  margin-right: 2rem;
}

.next {
  margin-left: 2rem;
}

.card-grid {
  /* border: 3px dashed gold; */
  display: flex;
  gap: 2rem;
}

.card {
  flex-basis: 50%;
  flex-grow: 1;
}

.page-button {
  text-align: center;

  margin-top: 3rem;
}

.page-button button {
  width: 170px;
  height: 55px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(var(--color-1), var(--color-2));
  font-size: 25px;
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    --color-1 .5s ease-in-out,
    --color-2 .5s ease-in-out,
    transform .5s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .card-container img:hover {
    transform: scale(1.4);
  }
  .page-button button:hover {
    --color-1: #9191E9;
    --color-2: #2D898B;
    transform: scale(1.1);
  }
}

/* Color props defined to help smoothly transition gradient colors. */
@property --color-1 {
  syntax: '<color>';
  initial-value: #2D898B;
  inherits: false;
}

@property --color-2 {
  syntax: '<color>';
  initial-value: #9191E9;
  inherits: false;
}