.container {
  /* border: 3px solid white; */
  background: rgba(145 145 233 / 50%);
  position: relative;
  margin-top: 30rem;
}

.flex {
  display: flex;
  align-items: center;
  height: 35rem;
}

.contact,
.links {
  flex: 1;
}

.links {
  text-align: right;
}

.title h4 {
  font-size: 26px;
  position: absolute;
  top: 15rem;
}

.contact p {
  font-size: 19px;
  margin-bottom: .5rem;
}

.links p {
  font-size: 19px;
  transition: font-size .5s ease-in-out;

  margin-bottom: .5rem;
}

/* Devices as small as screen width 1280px and up will have hover effects. */
@media screen and (min-width: 1280px) {
  /* Hover effects for devices that can hover with a mouse/stylus. */
  @media (hover: hover) and (pointer: fine) {
    .links p:hover {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .container {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 850px) {
  .flex {
    height: 25rem;
  }
  .title h4 {
    top: 10rem;
  }
}

@media screen and (max-width: 700px) {
  .flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .contact,
  .links {
    flex: 0;
  }
  .contact {
    margin-bottom: 2rem;
  }
  .links {
    text-align: left;
  }
  .title h4 {
    top: 7rem;
  }
}

@media screen and (max-width: 470px) {
  .container {
    margin-top: 15rem;
  }
}